@media print {
  @page {
    size: auto;
    margin: 10mm 15mm;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }

  /* Forzar ocultar scrollbars al imprimir */
  ::-webkit-scrollbar {
    display: none;
  }
}
